<nav class="container navbar navbar-expand-lg navbar-light bg-white fixed-top py-3 d-flex justify-content-between">
    <a class="navbar-brand font-weight-bolder mr-3" routerLinkActive="active" routerLink="home">
        <img src="../../assets/logo.png" style="width: auto; height: 40px;">
    </a>
    <div class="" id="navbarsDefault">
        <ul class="navbar-nav ml-auto align-items-center">
            <li class="nav-item">
                <a class="nav-link active" routerLinkActive="active" routerLink="login">
                    <button class="btn btn-primary btn-rounded" style="border-radius: 50px;">Login</button>
                </a>
            </li>
        </ul>
    </div>
</nav>
