<div class="container">
    <section class=" mt-4 mb-5">

        <div class="container-fluid">
            <div class="row">

                <div class="table-responsive overflow-hidden">

                    <h5>Entregas</h5>

                    <br><br>
                    <table class='table table-striped text-center table-hover'>
                        <thead class="table-success">
                            <tr>
                                <th>
                                    ID
                                </th>
                                <th>
                                    Fecha
                                </th>
                                <th>
                                    Cliente
                                </th>
                                <th>
                                    Producto
                                </th>
                                <th>
                                    Cantidad
                                </th>
                                <th>
                                    Total
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let entrega of dataSource">
                                <td>{{entrega.id}}</td>
                                <td>{{entrega.fecha}}</td>
                                <td>{{entrega.cliente}}</td>
                                <td>{{entrega.producto | uppercase}}</td>
                                <td>{{entrega.cantidad}} unidad(s)</td>
                                <td>{{entrega.total | currency}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

    </section>
</div>
