<section style="padding-top: 80px;">
    <section class="profile mt-5">
        <div class="container mb-2 profile-info">
            <h3 class="font-weight-bold title">Crear nuevo usuario admin</h3>
        </div>
    </section>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-lg-6">
                <div class="login-wrap p-4 p-md-5">
                    <form action="#" class="login-form">
                        <div class="form-group mb-3">
                            <input type="text" id="usuario" class="form-control rounded-left" placeholder="Usuario"
                                name="usuario" [(ngModel)]="usuario">
                        </div>
                        <div class="form-group mb-3">
                            <input type="text" id="correo" class="form-control rounded-left" name="correo"
                                placeholder="Correo electrónico" [(ngModel)]="correo">
                        </div>
                        <div class="form-group mb-3 d-flex">
                            <input type="password" id="password" class="form-control rounded-left" name="password"
                                placeholder="Contraseña (Mínimo 4 dígitos)" [(ngModel)]="password">
                        </div>
                        <div class="form-group">
                            <button type="button" id="guardar" class="form-control btnp btn-primary-paka px-3"
                                (click)="registrarAdmin()">Crear cuenta</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
