<nav class="container navbar navbar-expand-lg navbar-light bg-white fixed-top d-flex justify-content-between">
    <a class="navbar-brand font-weight-bolder mr-3" routerLinkActive="active" routerLink="home">
        <img src="../../assets/logo.png" style="width: auto; height: 40px;">
    </a>
    <div class="w-auto" id="navbarsDefault">
        <ul class="ml-auto align-items-center w-auto d-flex gap-3" style="list-style: none;">
            <li class="nav-item">
                <a class="nav-link active" routerLinkActive="active" routerLink="mis-compras">
                    <i class="bx bx-cart-alt fs-3"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active d-flex" routerLinkActive="active" routerLink="perfil">
                    <i class="bx bx-user-circle fs-3"></i> {{user | uppercase}}
                </a>
            </li>
            <li>
                <a class="nav-link active" (click)="logout()">
                    <button class="btn btn-danger btn-rounded" style="border-radius: 50px;">Salir</button>
                </a>
            </li>
        </ul>
    </div>
</nav>
